[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"

[dev-packages]
ruff = "*"
black = "*"

[requires]
python_version = "3.9"

[scripts]
tests = "python -m pytest ."
run = "python src/main.py"
lint = "ruff ."
fmt = "black ."
